
.container{
    width:100%;
    margin: 0;
    overflow: hidden;
   
   
}
.container a{
    
    padding: 10px;
    text-decoration: none;
    color:black;
     
}
.nav{
    width: 30%;
    float: left;
    display: inline-block;
   
}
#myVideo{
    width: 100%;
    margin: 0;
}
#logo{
    position: absolute;
    left: 40%;
    top: 30%;
    
}